<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="GrabCaster" Language="1033" Version="1.0.0.0" Manufacturer="GrabCaster Ltd"
           UpgradeCode="554447c2-fb24-4269-b617-92ceedafdaf1">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Loads images from a folder called Bitmaps located in the Win directory of your project -->
    <!-- Upper banner image: 493px x 58px -->
    <WixVariable Id="WixUIBannerBmp" Value=".\Images\Banner.bmp" />
    <!-- Background images: 493px x 312px -->
      <WixVariable Id="WixUIDialogBmp" Value=".\Images\Background.bmp" />
      <WixVariable Id="WixUILicenseRtf" Value="C:\Users\Nino\Documents\GrabCaster\GrabCaster.Framework\DefaultFiles\license.rtf" />
      <UI Id="UserInterface">
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR_GRABCASTER" />
        <UIRef Id="WixUI_InstallDir" />

          <DialogRef Id="ProgressDlg" />
          <DialogRef Id="ErrorDlg" />
          <DialogRef Id="FilesInUse" />
          <DialogRef Id="FatalError" />
          <DialogRef Id="UserExit" />
    </UI>

      <Feature Id="ProductFeature" Title="GrabCaster Setup" Level="1">
      <ComponentGroupRef Id="SourceComponentGroup" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR_GRABCASTER" Name="GrabCaster">
          <Directory Id="DesktopFolder" Name="Desktop">


          </Directory>
        </Directory>
      </Directory>
    </Directory>


    <DirectoryRef Id="INSTALLDIR_GRABCASTER">
      <Component Id="ApplicationShortcut" Guid="8D9CF214-E87C-441D-9B2C-8466E2505C82">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="GrabCaster"
                  Description="Just in Time Gate"
                  Target="[INSTALLDIR_GRABCASTER]GrabCaster.exe"
                  Directory="DesktopFolder"
                  Icon="GrabCaster.exe"
                  WorkingDirectory="INSTALLDIR_GRABCASTER">
          <Icon Id="GrabCaster.exe" SourceFile="$(var.SourcePath)\GrabCaster.exe" />
        </Shortcut>
        <Shortcut Id="ApplicationStartMenuShortcutUI"
                  Name="GrabCaster Console"
                  Description="Just in Time Gate"
                  Target="[INSTALLDIR_GRABCASTER]GrabCasterUI.exe"
                  Directory="DesktopFolder"
                  Icon="GrabCasterUI.exe"
                  WorkingDirectory="INSTALLDIR_GRABCASTER">
          <Icon Id="GrabCasterUI.exe" SourceFile="$(var.SourcePath)\GrabCasterUI.exe" />
        </Shortcut>
        <RemoveFolder Id="INSTALLDIR_GRABCASTER" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Microsoft\GrabCaster" Name="installed" Type="integer" Value="1"
                       KeyPath="yes" />
      </Component>

    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="cmp5C53951D02216637445C5646F185D556" Guid="3CD95411-15D9-4107-93E2-D6344F5500A1" KeyPath="yes">
        <RegistryKey ForceCreateOnInstall="yes" Key="CLSID\{62018D08-281A-415b-A6D3-6172E3762867}\Implemented Categories\{7F46FC3E-3C2C-405B-A47F-8D17942BA8F9}" Root="HKCR" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="cmp856FD50BA5CEB57A4F131AB1CA31868B" Guid="2631FA0E-94AF-412F-8DC5-36AC0907B7D3" KeyPath="yes">
        <RegistryKey Key="CLSID\{62018D08-281A-415b-A6D3-6172E3762867}" Root="HKCR">
          <RegistryValue Value="GrabCaster Adapter" Type="string" />
          <RegistryValue Name="AppID" Value="{12A6EBAA-CF68-4B58-B36E-A5A19B22C04E}" Type="string" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="cmpCD5CA8B929AAEFF8D3D71BF373AE5644" Guid="031DE80B-AB01-46AD-8AF6-7FCDA1572D62" KeyPath="yes">
        <RegistryKey ForceCreateOnInstall="yes" Key="CLSID\{62018D08-281A-415b-A6D3-6172E3762867}\Implemented Categories" Root="HKCR" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="cmpED0C191AE97ECA68229AE3D847A1479A" Guid="189A6CA6-42E4-42FC-826D-B295679AD1CA" KeyPath="yes">
        <RegistryKey Key="CLSID\{62018D08-281A-415b-A6D3-6172E3762867}\BizTalk" Root="HKCR">
          <RegistryValue Value="BizTalk" Type="string" />
          <RegistryValue Name="TransportType" Value="GrabCaster-Messaging" Type="string" />
          <RegistryValue Name="Constraints" Value="15371" Type="integer" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>